<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-mapping PUBLIC 
	"-//Hibernate/Hibernate Mapping DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-mapping-3.0.dtd">
<hibernate-mapping>
	<class name="demo.model.UserAccount" table="acc.useraccount">
		<id name="user_id" column="user_id" type="int">
			<generator class="increment"></generator>
		</id>
		<property name="user" column="user_name" type="string"></property>
		<property name="pass" column="pass" type="string"></property>
	</class>
</hibernate-mapping>	