<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/rest.css}"/>
</head>
<body>
	<table>
		<tr>
			<td class="w30">
				<div>nguyen van anh</div>
				<div>nguyen van anh</div>
				<div>nguyen van anh</div>
				<div>nguyen van anh</div>
				<div>nguyen van anh nguyen van anh</div>
				<div>nguyen van anh</div>
			</td>
			<td class="w70">
				<div>nguyen van anh</div>
				<div>nguyen van anh</div>
				<div>nguyen van anh</div>
				<div>nguyen van anh</div>
				<div>nguyen van anhnguyen van anh</div>
				<div>nguyen van anh</div>
			</td>
		</tr>
	</table>
	<div class="min-width"></div>
</body>
</html>